@media screen and (max-width: 900px) {
  .container_content {
    width: 750px;
    padding: 0 15px;
  }
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    width: 100%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 100%;
  }
  .container_content section .img_descr_4 .img_coll img {
    width: 100%;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 100%;
  }
  header nav.nav_panel ul li {
    margin: auto 5px;
  }
  .container_content .popular div.news .text_for_news {
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .fixed-page {
    overflow: hidden;
  }
  header {
    height: 50px;
  }
  header nav.nav_panel {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    background: #588AB4;
    -webkit-box-shadow: #ccc;
            box-shadow: #ccc;
    width: 100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
            box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -100%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  header nav.nav_panel .name_history {
    margin-left: 20px;
  }
  header nav.nav_panel.open-menu {
    left: 0;
  }
  header nav.nav_panel ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav.nav_panel ul li {
    margin-top: 5px;
  }
  header nav .burger_menu {
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 10px;
  }
  header nav .burger_menu ul li a {
    color: #000;
  }
  header nav .burger_menu span, header nav .burger_menu:after, header nav .burger_menu:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }
  header nav .burger_menu span {
    top: 21px;
  }
  header nav .burger_menu:after, header nav .burger_menu:before {
    content: "";
  }
  header nav .burger_menu:after {
    top: 10px;
  }
  header nav .burger_menu:before {
    bottom: 5px;
  }
  .container_content {
    width: 90%;
  }
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    height: 530px;
    width: 70%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 70%;
    height: auto;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 70%;
    height: 450px;
  }
  .container_content section .descr_img_text_4 {
    width: 65%;
  }
  .container_content figcaption.descr_img_text_1, .container_content figcaption.descr_img_text_2, .container_content figcaption.descr_img_text_3 {
    width: 65%;
  }
  .container_content .container_author {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container_content .container_author .author {
    width: 240px;
    height: 240px;
  }
  .container_content .container_author .name_author {
    width: 10%;
    margin: 0 auto;
    padding-right: 40px;
  }
  .container_content .container_author .tema {
    width: 10%;
    margin: 0 auto;
    padding-left: 15px;
  }
  .container_content .container_author .author_social_char_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container_content .container_author .author_social_char_link .social_link {
    margin: 10px 0;
  }
}
@media screen and (max-width: 600px) {
  .container_content {
    width: 90%;
    padding: 0;
  }
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    height: 330px;
    width: 70%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 70%;
    height: auto;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 70%;
    height: 350px;
  }
  .container_content section .descr_img_text_4 {
    width: 63%;
  }
  .container_content figcaption.descr_img_text_1, .container_content figcaption.descr_img_text_2, .container_content figcaption.descr_img_text_3 {
    width: 63%;
    font-size: 12px;
  }
  .container_content .popular div.news .text_for_news .addit_info {
    display: none;
  }
  .container_content .author_info {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .container_content .popular div.news, .container_content div.another .news_now {
    width: 95%;
  }
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    height: 200px;
    width: 70%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 70%;
    height: auto;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 70%;
    height: 200px;
  }
  .container_content section .descr_img_text_4 {
    width: 60%;
  }
  .container_content figcaption.descr_img_text_1, .container_content figcaption.descr_img_text_2, .container_content figcaption.descr_img_text_3 {
    width: 60%;
  }
  .container_content .popular div.bl_line {
    height: 96px;
    border-radius: 60px 0 0 60px;
  }
  .container_content .container_author .name_author {
    padding-right: 60px;
  }
  .container_content .container_author .name_author + .tema {
    padding: 0;
  }
}
@media screen and (max-width: 352px) {
  h1 {
    font-size: 30px;
  }
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    height: 200px;
    width: 100%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 100%;
    height: auto;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 100%;
    height: 200px;
  }
  .container_content section .descr_img_text_4 {
    width: 88%;
  }
  .container_content figcaption.descr_img_text_1, .container_content figcaption.descr_img_text_2, .container_content figcaption.descr_img_text_3 {
    width: 88%;
  }
  .container_content div.another a {
    font-size: 12px;
  }
  .container_content .popular div.news .text_for_news {
    font-size: 13px;
    margin-left: 10px;
  }
  .container_content .popular div.news .text_for_news .addit_info, .container_content .popular div.news .text_for_news .date {
    display: none;
  }
}
@media screen and (max-width: 268px) {
  .container_content section .img_text_1, .container_content section .img_text_2, .container_content section .img_text_3 {
    height: 200px;
    width: 100%;
  }
  .container_content section .img_descr_4 .img_coll {
    width: 100%;
    height: auto;
  }
  .container_content section .img_descr_4 .img_coll.coll_4 {
    width: 100%;
    height: 200px;
  }
  .container_content section .descr_img_text_4 {
    width: 85%;
  }
  .container_content figcaption.descr_img_text_1, .container_content figcaption.descr_img_text_2, .container_content figcaption.descr_img_text_3 {
    width: 85%;
  }
  .container_content .popular div.news .text_for_news {
    font-size: 12px;
  }
}/*# sourceMappingURL=media.css.map */